:root {
  --bg: #d4d0c1;
  --divider: #aa9e76;
  --text: #111;

  --bg-dark: #0f0f12;
  --divider-dark: #6f6a4e;
  --text-dark: #e6e3d8;
}

/* Global Reset & Body */
* { box-sizing: border-box; }

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
  overflow-x: hidden;
  transition: background 0.6s ease, color 0.6s ease;
}

body.dark {
  background: var(--bg-dark);
  color: var(--text-dark);
}
